.App {
  font-family: sans-serif;
  text-align: center;
}

Section {
  position: relative;
  height: 300px;
  width: 300px;
  display: grid;
  place-items: center;
  outline: 1px solid #000;
}

p {
  position: absolute;
  top: 0rem;
  left: 1rem;
}

.wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
